body {
    background-color:lavenderblush;
    color: rgb(235, 109, 19);
    font-family:Arial, Helvetica, sans-serif;

}
h2 {
    text-align: center;
    color: crimson;
    
}
h3 {
    text-align: center;
}
.image1 {
    height: 500px;
    margin-left: 225px;
    border-radius: 50%;
}
h1 {
    text-align: center;
}
.image2 {
    height: 200px;
    border-radius: 25%;
    float:left
}
.image3 {
    height:300px;
    border-left: ;
    border-radius: 25%;
    float: right;
}
.box {
    width: 325px;
    height: 30px;
    background-color:rgba(255, 127, 80, 0.26);
    border-radius: 10%;
}
.image4 {
     height: 200px;
     border-radius: 25%;
     float:left;
}
  .align1 {
    position: relative;
  }
  .image5 {
    height: 200px;
    border-radius: 25%;
    float:left;
  }
.image6 {
    height: 200px;
    border-radius: 25%;
    float:right;
}